.App {
  text-align: center;
}

.login-form {
  margin: 0 auto;
}

.friends {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.friend {
  margin: 15px;
  width: 20rem;
}

.friend-buttons {
  display: flex;
  justify-content: center;
}

.friend-button {
  padding: 2px;
  margin: 3px;
}
